.container {
  min-height: 100vh;
}
.container main {
  display: grid;
  grid-template-columns: auto min-content;
  max-width: 900px;
  margin: 3vw auto;
  column-gap: 3vw;
  justify-content: space-between;
}

.container header {
  position: relative;
  padding: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/img/leaves.png');
  background-size: 900px;
  background-repeat: repeat;
  background-position-y: 0;
  overflow: hidden;
  background: none;
}
.container header::after {
  /* content: ' '; */
  position: absolute;
  top: 5%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/leaves.png');
  background-position: 50% 0;
  background-size: 900px;
  background-repeat: repeat;
  opacity: .5;
  z-index: -1;
}
img.logo {
  width: 180px;
  aspect-ratio: 1;
}

img.portrait {
  /* filter: saturate(.5); */
}

.info ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}