.container {
  /* width: 100%; */
}
.wrapper {
  position: relative;
  aspect-ratio: 3 / 2;
}
.wrapper img {
  width: 100%;
  transform: scale(0.8) translate(10%, 10%);
  margin: 0 !important;
  padding: 0 !important;
}
.wrapper::before,
.wrapper::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
.wrapper::before {
  background-image: url('/img/manual.png');
  transform: scale(0.4) translate(-50%, -50%);
  z-index: -1;
}
.wrapper::after {
  background-image: url('/img/bird.png');
  transform: scale(0.12) translate(222%, -102%);
  z-index: 1;
}