.container {
  display: flex;
  flex-direction: column;
}
.container img {
  width: 100%;
  height: auto;
}

.container ol {
  display: flex;
  row-gap: 10vw;
  margin-block: 10vw;
  padding-inline: 3vw;
}
.container li {
  /* display: block; */
  margin: 0;
  list-style-type: none;
}

.spacer {
  height: 5vw;
}

.bar {
  width: 100%;
  padding-block: 2vw;
  background-color: var(--color-theme);
  color: white;
  margin-block: 4vw;
}
.bar p {
  max-width: 700px;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
}

.columns {
  display: flex;
  width: 100%;
  padding-inline-end: 3vw;
  column-gap: 3vw;
}
.subtitle {
  font-style: italic;
}

.community,
.place {
  display: grid;
  grid-template-columns: 20% auto auto;
  column-gap: 3vw;
  width: 100%;
  max-width: unset;
}
.place h2 {
  grid-column: 1 / span 2;
}
.place .subtitle {
  grid-column: 1;
  grid-row: 2
}
.place .text {
  grid-column: 2;
}
.community p,
.place p {
  display: flex;
  max-width: unset;
  text-align: justify;
  font: var(--font-small);
  margin-block-start: 0;
}
.place .images {
  grid-column: 3;
  grid-row: 1 / span 2;
  width: 100%;
  max-width: 55em;
  display: flex;
  flex-direction: column;
  justify-self: end;
  justify-content: space-evenly;
}
.place .images img {
  width: min(93%, 27em);
  height: auto;
}
.place .images img.plantingGirls {
  width: min(75%, 20em);
  align-self: flex-start;
}
.place .images img.fluteGirls {
  align-self: flex-end;
}

.community {
  grid-template-columns: 500px 20% auto;
}
.community img {
  grid-row: 1 / span 2;
  grid-column: 1;
}
.community h2 {
  grid-row: 1;
  grid-column: 2 / span 2;
  align-self: baseline;
}
.community .subtitle {
  grid-row: 2;
  grid-column: 2;
}
.community .text {
  grid-row: 2;
  grid-column: 3;
  padding-inline-end: 3vw;
}
img.treetemple {
  width: 700px;
  display: inline-block;
  transform: scale(1.1) translate(-5%, 10%);
  margin-top: 0;
  margin-bottom: 10%;
}

@media screen and (max-width: 1200px) {
  .community,
  .place {
    grid-template-columns: 1fr 1fr;
  }
  .place .subtitle {
    grid-row: 2;
  }
  .place .text {
    grid-row: 2 / span 2;
  }
  .place .images {
    grid-column: 1;
    grid-row: 3;
  }
  .community h2 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }
  .community .subtitle {
    grid-row: 2;
    grid-column: 1;
  }
  .community .text {
    grid-row: 2 / span 2;
    grid-column: 2;
  }
  .community img {
    grid-row: 3;
    grid-column: 1;
    transform: translate(0%, 20%);
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .container img {
    margin: unset;
  }
  .container p,
  .container ol {
    padding-inline: 3vw;
  }
  .container ol p {
    padding-inline: unset;
  }
  .community,
  .place {
    display: grid;
    grid-template-columns: 1fr;
  }
  .community > *,
  .place > * {
    grid-column: 1 !important;
    grid-row: auto !important;
  }
  .place .images {
    justify-self: center;
    padding-left: unset;
    margin-block: 7vw;
    row-gap: 8vw;
  }
  .community h2::before {
    transform: translateX(-99%);
  }
  img.treetemple {
    transform: unset;
    width: 100%;
    height: auto;
    margin-block: 5vw;
  }
}