.container {
}
.overview {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.container h2 {
  /* display: block; */
  display: inline-flex;
  width: auto;
}
.container h2,
.container p,
.container ol,
.container ul {
  padding-inline: 3vw;
}
.container img {
  margin: 2vw 3vw;
}

img.culture {
  width: 700px;
  height: auto;
  align-self: center;
}

ol.phases {
  position: relative;
  display: flex;
  column-gap: 6vw;
  width: 100%;
  overflow-x: auto;
  height: 100%;
  overflow-y: hidden;
  margin-block: 6vw;
}
ol.phases li {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
ol.phases .text {
  font: var(--font-small);
  text-align: justify;
}
ol.phases header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
ol.phases button {
  appearance: none;
  border: none;
  margin: 0;
  padding-right: 0;
  background: none;
  font-size: 2em;
  color: var(--color-theme);
  justify-self: end;
  transform: translateY(-6%);
}
ol.phases button::before {
  content: '\27B5';
}

.boardImg {
  position: relative;
  top: 9%;
}
.boardImg img {
  transform: translate(59px, 10px);
}
.boardImg::before,
.boardImg::after {
  content: ' ';
  position: absolute;
  background-image: url('/img/bird.png');
  background-size: contain;
  background-repeat: no-repeat;
  left: 77%;
  top: 25%;
  width: 15%;
  aspect-ratio: 3 / 2;
  z-index: 1;
}
.boardImg::before {
  background-image: url('/img/manual.png');
  left: 0;
  top: -4%;
  width: 41%;
  aspect-ratio: 1 / 1;
  z-index: -1;
}

img.preparation {
  width: 340px;
  height: auto;
  margin-block-start: 6vw;
  margin-left: 0;
  margin-right: 0;
}
img.calendar {
  width: 343px;
}
@media screen and (max-width: 700px) {
  .container img {
    margin: unset;
  }
  img.culture {
    width: 100%;
    padding: 3vw;
  }
  
  ol.phases {
    padding-inline: 0;
  }
  ol.phases li {
    width: 80vw;
    min-width: 80vw;
    padding-inline: 3vw;
  }
  ol.phases li:not(:first-child) {
    opacity: .3;
  }
  ol.phases li.seen {
    opacity: 1;
  }

  ol.phases .arrow {
    display: none;
  }
  ol.phases li[data-active="true"]:not(:last-child) .arrow {
    display: block;
  }
  
  img.preparation {
    width: 100%;
    margin-top: 6vw;
  }
  img.culture {
  }
}