.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 0;
  top: 0;
  transition: 1s transform;
  overflow: hidden;
}
.hide {
  transform: translateY(-100vh);
}

.bg,
.bgSecondary {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("/img/leaves_1000p.webp");
  background-image: -webkit-image-set(
    url("/img/leaves_1000p.webp") 1x,
    url("/img/leaves_1700p.webp") 2x
  );
  background-image: image-set(
    url("/img/leaves_1000p.webp") 1x,
    url("/img/leaves_1700p.webp") 2x
  );
  background-size: 850px;
  background-position: center center;
  background-repeat: repeat;
}
.bgSecondary {
  transform: scale(1.1);
  background-position: 70% 70%;
  opacity: .6;
  
  transition: .5s background-position;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}
.bgSecondary[data-play=1] {
  background-position: 70% 72%;
}
@media screen and (max-width: 700px) {
  .bg,
  .bgSecondary {
    background-image: url("/img/leaves_500p.webp");
    background-image: -webkit-image-set(
      url("/img/leaves_500p.webp") 1x,
      url("/img/leaves_1000p.webp") 2x
    );
    background-image: image-set(
      url("/img/leaves_500p.webp") 1x,
      url("/img/leaves_1000p.webp") 2x
    );
    background-size: 500px;
  }
}

.bar {
  position: relative;
  /* margin-top: 100vh; */
  margin-bottom: 13vh;
  padding-block: .5vw;
  font-weight: 400;
}
.bar p {
  text-align: center;
  margin: 0 auto;
}

.logoLink {
  display: contents;
}
.logo {
  width: 250px;
  aspect-ratio: 1 / 1;
  z-index: 1;
  position: sticky;
  /* position: relative; */
  /* position: static; */
  top: 6vw;
  /* padding-top: 15vh; */
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
  }
}