.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  z-index: 0;
  top: 0;
  transition: 1s transform;
  overflow: hidden;
}
.hide {
  transform: translateY(-100vh);
}

.bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.bg,
.bgSecondary {
  position: absolute;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  background-image: url("/img/leaves.png");
  background-size: 100%;
  background-repeat: round;
}
.bgSecondary {
  background-size: 105%;
  background-repeat: repeat;
  background-position-x: 10px;
  background-position-y: 0px;
  opacity: .6;
  
  transition: .5s background-position-y;
  transition-delay: .2s;
  transition-timing-function: ease-in-out;
}
.bgSecondary[data-play=1] {
  background-position-y: 20px;
}

.bar {
  position: relative;
  /* margin-top: 100vh; */
  margin-bottom: 13vh;
  padding-block: .5vw;
  font-weight: 400;
}
.bar p {
  text-align: center;
  margin: 0 auto;
}

.logoLink {
  display: contents;
}
.logo {
  width: 250px;
  aspect-ratio: 1 / 1;
  z-index: 1;
  position: sticky;
  /* position: relative; */
  /* position: static; */
  top: 6vw;
  /* padding-top: 15vh; */
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .logo {
    width: 150px;
  }
}